<%= form_with(model: experience, local: true) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :experience_user_id %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :experience_company_name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :experience_title %>
  </div>

  <div class="field">
    <%= form.label :start_year %>
    <%= form.text_field :start_year, id: :experience_start_year %>
  </div>

  <div class="field">
    <%= form.label :end_year %>
    <%= form.text_field :end_year, id: :experience_end_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
