<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :organization_name %>
  </div>

  <div class="field">
    <%= form.label :organization_type %>
    <%= form.text_field :organization_type, id: :organization_organization_type %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :organization_email %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :organization_password_digest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
