<%= form_with(model: organization_connection, local: true) do |form| %>
  <% if organization_connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization_connection.errors.count, "error") %> prohibited this organization_connection from being saved:</h2>

      <ul>
      <% organization_connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :organization_connection_user_id %>
  </div>

  <div class="field">
    <%= form.label :organization_id %>
    <%= form.text_field :organization_id, id: :organization_connection_organization_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
